/*.vsconfig
/Library/
/Temp/
/UserSettings/
/.vs/
/*.csproj
/*.sln
/obj/
/log/
/ProjectSettings/Packages/

**/switch_keys/*.keys
**/switch_keys/*.keys.meta
**/NintendoSDKPlugin/
**/NintendoSDKPlugin.meta
